<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>175947823851-9ffp0qcglvf1lnlk0kv33jsl74dt9iri.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.175947823851-9ffp0qcglvf1lnlk0kv33jsl74dt9iri</string>
	<key>API_KEY</key>
	<string>AIzaSyBCMdTaqghiv8s3oceL5GFoT-Cn4j4Xj7s</string>
	<key>GCM_SENDER_ID</key>
	<string>175947823851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>tinder2-clone-rak</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder2-clone-rak.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175947823851:ios:63d486864760b3a6545cae</string>
</dict>
</plist>